.category_submit_form_admin {
    margin: 30px 10px;
    padding: 30px;
}
form#category_updated_form_admin {
    margin: 30px 10px;
    padding: 30px;
}
.category_submit_form_admin {
    margin: 30px 10px;
    padding: 30px;
}